<!DOCTYPE html>
<html>
  <head>
    <script src= "https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
  </head>
  <body>
    <!-- <div id="app">
      {{ message }}
    </div>

    <div id="app-2">
      <span v-bind:title="message">
        check title
      </span>
    </div>
    
    <div id="app-3">
      <p v-if="seen">You can see me!</p>
    </div>

    <div id="app-4">
      <ol>
        <li v-for="content in list"> 
          {{content.text}}
        </li>
      </ol>
    </div>

    <div id="app-5">
      <p>
        {{message}}
      </p>
      <button v-on:click="reverseMessage">reverse message!</button>
    </div>

    <div id="app-6">
      <p>{{goodday}}</p>
      <input type="text" v-model="goodday"></input>
    </div>


    <myComponent>this is my component</myComponent>
    <div id="app-7">
      여기는 app-7내부.
    </div>

    <div id="app-8">
      {{message}}
    </div> -->
    <div id="app">
      <h3>첫번째인스턴스</h3>
      <my-global-component></my-global-component>
      <my-local-component></my-local-component>
    </div>
    <div id="app2">
      <h3>
        두번째인스턴스
      </h3>
      <my-global-component></my-global-component>
      <my-local-component></my-local-component>
    </div>
    <script>
      Vue.component('my-global-component', {
        template: '<div>전역</div>'
      });

      var cmp = {
        template: '<div>지역</div>'
      };

      new Vue({
        el: '#app',
        components: {
          'my-local-component': cmp
        }
      });

      new Vue({
        el:'#app2'
      });

      // Vue.component('my-component', {
      //   template: '<div>전역컴포넌트등록되었습니당</div>'
      // });

      // new Vue({
      //   el: '#app'
      // });
      // var cmp = {
      //   template: '<div>지역컴포넌트</div>'
      // };
      // test = '<div>hello</div>'

      // new Vue({
      //   el: '#app',
      //   // components: {
      //   //   'my-local-component': cmp
      //   // }
      //   template: test
      // });
    </script>
    <script>
      // var app = new Vue({
      //   el: '#app',
      //   data: {
      //     message: '안녕하세요 Vuessdf!'
      //   }
      // });

      // var app2 = new Vue({
      //   el: '#app-2',
      //   data: {
      //     message: 'this page is loaded at ' + new Date() + '.'
      //   }
      // });

      // var app3 = new Vue({
      //   el: '#app-3',
      //   data: {
      //     seen: true
      //   }
      // });

      // var app4 = new Vue({
      //   el: '#app-4',
      //   data: {
      //     list: [
      //       {text: 'my name'},
      //       {text: 'is'},
      //       {text: 'junwoo'}
      //     ]
      //   }
      // });

      // var app5 = new Vue({
      //   el: '#app-5',
      //   data: {
      //     message: "이 문장을 뒤집을 겁니다."
      //   },
      //   methods: {
      //     reverseMessage: function() {
      //       this.message = this.message.split('').reverse().join('');
      //     }
      //   }
      // });

      // var app6 = new Vue({
      //   el:'#app-6',
      //   data: {
      //     goodday: "good day commander?"
      //   }
      // });

      // Vue.component('myComponent', {
      //   template: '<div>test myComponent</div>'
      // });

      // var app8 = new Vue({
      //   el: '#app-8',
      //   data: {
      //     message: "life cycle test!"
      //   },
      //   beforeCreate: function() {
      //     console.log('beforeCreate');
      //   },
      //   created: function() {
      //     console.log('created');
      //   },
      //   mounted: function() {
      //     console.log('mounted');
      //     this.message = "changed.. haha!"
      //   },
      //   updated: function() {
      //     console.log('updated');
      //   }
      // });

    </script>
  </body>
</html>